.App {
  height: 100%;
  display: flex;
  .left {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: #f00;
    .header {
      flex: 1;
      background: skyblue;
    }
    .contents {
      flex: 6;
      background: gold;
      overflow-y: auto;
    }
  }
  .right {
    flex: 1;
    background: #0F0;
  }
  .Card {
    height: 150px;
    border-bottom: 1px solid #4e4b4b;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &:last-child {
      border: none;
    }
  }
}